<div>
    <h1>Completa il profilo come...</h1>
    <div class="container"> 
        <div class="col-md-4">
            <a class="btn btn-large btn-default form-control" style="height:100px;" href="#/profile/create/teacher"><i class="fa fa-fw fa-2x fa-university"></i><br/>Docente</a>
        </div> 
        <div class="col-md-4">
            <a class="btn btn-large btn-default form-control" style="height:100px;" href="#/profile/create/edic"><i class="fa fa-fw fa-2x fa-building"></i><br/>EDIC</a>
        </div> 
        <div class="col-md-4">
            <a class="btn btn-large btn-default form-control" style="height:100px;" href="#/profile/create/association"><i class="fa fa-fw fa-2x fa-group"></i><br/>Associazione</a>
        </div>
    </div>
</div>